@import 'normalize';

.body {
	background: linear-gradient(90deg, rgb(207, 224, 220), rgb(160, 170, 170));
}

.container {
	max-width: 1680px;
	margin: 15px 20px;
}
.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: aquamarine;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 25px;
	box-shadow: 7px 8px 12px 0px rgb(0 0 0 / 33%);

	&__title {
		padding-top: 10px;
		margin-bottom: 15px;
		font-size: 40px;
		user-select: none;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__input-wrapper {
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
		align-items: center;
	}
	&__label-text-input {
		margin-bottom: 15px;
		border-bottom: 3px solid black;
		font-size: 20px;
	}
	&__text-input {
		width: 340px;
		font-size: 22px;
		border: 2px solid gold;
	}
	&__button-input {
		width: 100px;
		height: 30px;
		border-radius: 9px;
		font-size: 20px;
		border: none;
		cursor: pointer;
	}
}
