/* Importing normalize.css for cross-browser consistency */
@import 'normalize';

/* Styling for the body element */
.body {
	&_theme-dark {
		@media screen and (max-width: 972px) {
			background-size: auto;
		}
	}
}

/* Styling for the inner content wrapper */
.inner {
	@media screen and (max-width: 928px) {
		position: relative;
	}

	&_toggle-theme {
		@media screen and (max-width: 928px) {
			position: absolute;
			right: 12px;
			top: 12px;
		}
		@media screen and (max-width: 630px) {
			width: 38px;
			height: 38px;
		}
	}
}
