$desktop: 930px;
$mobile: 600px;
$smallMobile: 420px;

@mixin desktop {
	@media only screen and (max-width: $desktop) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width: $mobile) {
		@content;
	}
}

@mixin smallMobile {
	@media only screen and (max-width: $smallMobile) {
		@content;
	}
}

@mixin hoverOrActive {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}

	@media (hover: none) {
		&:active {
			@content;
		}
	}
}