@use '../media';
@use '../mixins';

.button-up {
	position: fixed;
	bottom: 1%;
	right: 50%;
	display: none;
	@include mixins.sizes(40px, 40px);
	transform: translate(50%, 0);
	border-radius: 10px;
	opacity: 0.8;

	@include media.smallMobile {
		@include mixins.sizes(36px, 36px);
	}

	&-rect {
		fill: #000;

		&_theme-dark {
			fill: #fff;
		}
	}

	&-arrow {
		fill: #fff;

		&_theme-dark {
			fill: #000;
		}
	}
}