.toggle-theme {
	position: absolute;
	right: 22px;
	top: 22px;
	@include sizes(56px, 56px);

	@include desktop {
		position: absolute;
		right: 12px;
		top: 12px;
	}

	@include mobile {
		@include sizes(46px, 46px);
	}

	@include smallMobile {
		@include sizes(38px, 38px);
	}

	&_dark {
		fill: rgb(255, 255, 255)
	}
}